
*{border-radius: 0px !important;

}

#contact{font-size:19px;font-family: Montserrat;color: white;}
header{
        background-color: #252630
}
.block6{
        background-color: #252630;
        padding-bottom: 60px; 
}

.navbar-inverse{background-color: black;margin: 0px;}

.block1{
    background-image: url(../image/Toile.png);
    background-size: 62% 143%;
    background-repeat: no-repeat;
    background-position: 58% 18%;
}

}
#block1-title{
    font-family: Chiller;
    font-size: 48px;
    color: #137cc1;
    margin: 12px;
}

.block1-text{
    font-size: 17px;
    font-family: 'Montserrat';
    margin: 12px;
    color: white;
}

.block1-input{
    font-size: 17px;
    font-family: 'Montserrat';
    margin-top: 36px;
}

.block1-text2{
        font-size: 18px;
        margin-top: 50px; 
        color:white;
        margin-bottom: 50px; 
        font-weight: bold;
        font-style: italic;
}

#basic-addon3{
    background-color: #70ad45;
    color: white;
    border: none;
    padding: 9px 56px;
}

.url{padding-left: 18px;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a6a6a6 !important ;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a6a6a6 !important ;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a6a6a6 !important ;
}
:-moz-placeholder { /* Firefox 18- */
  color: #a6a6a6 !important ;
}
.icons-social{  
    width: 38%;
    margin: 0 auto;
    height: auto;   
}

.icons-social  div{   
    float: left; 
    padding-right: 20px;
    padding-bottom:30px!important;
}
.icons-social .icon1{width:85px;}
/*#ico1 a{padding-right: 50px;}*/
.icons-social .icon2{width:90px;}
#ico2 {padding-top: 5px;}
.icons-social .icon3{width:30px;}
#ico3 {padding-top: 5px;}
.icons-social .icon4{width: 70px;}
.icons-social .icon5{width:35px;}
#ico5 {padding-top: 5px;}



.block2-title1{

    font-size: 25px;
    margin-top: 75px;
    color: #231f20;
    font-family: 'Montserrat';
}

.block2-title2{
    color: #231f20;
    font-size: 13px;
    margin-bottom: 70px;

    font-family: 'Montserrat';
}
.icons-info{margin-top: 90px; 
}
.icons-info .row div img,.icons-info div img{
    width: 145px;
   
}

.icons-info .titre{
    font-size: 14px;
        font-family: 'Montserrat';
 }

 .icons-info .sousTitre{
    font-size: 11px;
        font-family: 'Montserrat';
        font-style: italic;
 }



 .block3 {
    background-image: url("../image/backgrounTrois.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 600px;
    padding: 0px;
    margin-top: 100px;
}
.block3 .block3-text1{
    margin-top: 30px;
    color: #e49211;
     text-align: center;
    margin-bottom: 75px;
    font-weight: bold;  
}
.block3 h3{
    color: white;
    font-family: "Montserrat";
    font-size: 24px;
}
.block3 .content{
    margin-left: -15px;
}


.block3-text1{
  font-size: 35px;
    margin-top: 7px;
    color: #231f20;
    font-family: 'Montserrat';
}

.block4{
    height: 90px;
    background-color: #dddddd;

}
 .block4 h4{
    height: 90px;
    text-align: center;
    font-family: "Montserrat Alternates Light";
    font-size: 23px !important;
    margin: 0px;
    padding: 36px;
    font-weight: bold;
    font-style: italic;
}
.block5-text1{
    font-family: Montserrat;
    font-size: 30px;
    margin: 55px auto 55px auto;
    font-weight: bold;
}
.block5-text2{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 30px;}

.block5-text3{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
    margin-top: 55px ;
    padding-bottom: 50px;

}
.block5-text4{
    padding-bottom: 50px;
}
.block5-text4 ul li{
    margin: 10px;
        font-family: Montserrat;
        font-size: 16px;
        list-style: red;


}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 3em; 
  text-indent: -.9em;
}


.block5-text4 ul li::before {
  background-color: #e49211;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  margin-right: 13px;
  margin-bottom: 2px;
  height: 8px;
  width: 8px;


  /* or whatever color you prefer */
}

.block6{
    padding-top: 40px;
}
#block6-title{
    font-family: Chiller;
    font-size: 28px;
    color: #137cc1;
    margin: 12px;

}

.block6-text{
    font-size: 17px;
    font-family: 'Montserrat';
    margin: 5px;
    color: white;
}
.block6-input {
    font-size: 17px;
    font-family: 'Montserrat';
    margin-top: 16px;
}

#basic-addon3-2{
    background-color: #70ad45;
    color: white;
    border: none;
    padding: 9px 56px;
}

#titre_conf{
    padding-top: 50px;
}
#titre_moy{
    padding-top: 10px;
}
